.home-page {
    display: flex;
}

.welcome-text {
    width: 20em;
}

.hero-section {
    position: relative;
    height: 60vh;
    width: 100%;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    top: 1em;
    right: 2em;
    color: white;
    text-align: right;
    padding: 1em;
}

.hero-button {
    position: absolute;
    bottom: 1em;
    right: 2em;
    font-size: 1.5em;
    font-weight: 900;
    padding: 1em 2em;
    border-radius: 4px;
    transition: scale 1s;
}

.hero-button:hover {
    scale: 120%;
}

.hero-text-title {
    font-size: 3em;
    font-weight: 900;
}

.hero-text-author {
    font-size: 1.5em;
    font-weight: 600;
}