.header-dropdown {
    position: relative;
}

.button.categories-button {
    background-color: transparent;
    display: flex;
    align-items: center;
    font-size: 1.5em;
    margin-top: 0.25em;
}

.button.categories-button:hover {
    background-color: transparent;
}

.down-arrow {
    margin-top: .6em;
    font-size: 0.5em;
    margin-left: 0.25em
}

.header-dropdown ul {
    position: absolute;
    right: 0;
    background-color: white;
    color: black;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0s linear 0.3s;
}

.header-dropdown li {
    padding: 0;
    margin: 0;
    text-align: left;
}

.header-dropdown a,
.header-dropdown a:visited {
    display: block;
    padding: 0.25em 0.5em;
    color: var(--primary-color-dark);
    text-decoration: none;
}

.header-dropdown a:hover {
    text-decoration: underline;
    color: var(--primary-color);
}

.header-dropdown:hover ul {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
    position: absolute;
    min-width: 8em;
    z-index: 1;
    cursor: pointer;
}